@page "/Courses"
@rendermode InteractiveServer
@using Microsoft.Azure.ServiceBus
@using Newtonsoft.Json
@using System.Text

<section class="courses-section">
    <div class="container">
        <div class="title-inputs">
            <h1 class="header1">Courses</h1>
            <select class="select-input">
                <option value="categories-all">All categories</option>
                <option value="category1">Best seller</option>
                <option value="category2">Reduced price</option>
                <option value="category3">Saved courses</option>
            </select>
            <input id="courseSearch" class="search-input" type="text" placeholder="Search courses">
            <i class="fa-regular fa-magnifying-glass" style="color: #33354D;"></i>
        </div>
        <div class="courses-all">

            @foreach (CourseCardModel course in courseList)
            {
                <div class="oneCourse">
                    <div class="btn-tooltip">
                        <EditForm FormName="@course.Id" Model="courseIdModel" OnValidSubmit="(() => SaveCourseToUser(course.Id, course.Title))" method="post">
                            <InputText @bind-Value="courseIdModel.CourseId" hidden class="tool-tip">Save</InputText>
                            <button class="saveCourseBtn @(SavedCourses.Contains(course.Id) ? "saved" : "")"> <i class=" fa-sharp fa-regular fa-circle-bookmark"></i></button>
                        </EditForm>
                    </div>

                    @if (course.IsBestSeller)
                    {
                        <p class="bestSeller">Best seller</p>
                    }

                    <a href="@("/course?courseid=" + course.Id)" class="oneCourseLink">
                        <img src="@course.ImageUri" alt="Image from the course">
                        <div class="course-info">
                            <h5 class="header5">@course.Title</h5>
                            <p class="author">By @course.Authors[0].Name</p>
                            <div class="prices">

                                @if (course.Prices!.Discount == 0)
                                {
                                    <p class="price">@course.Prices.Currency@course.Prices.Price</p>
                                }
                                else
                                {
                                    <p class="price color-danger">@course.Prices.Currency@course.Prices.Discount</p>
                                    <p class="reducedPrice">@course.Prices.Currency@course.Prices.Price</p>
                                }

                            </div>
                            <div class="hours-and-rating">
                                <i class="fa-regular fa-clock" style="color: #9397AD;"></i>
                                <p class="hours text-s">@course.Duration hours</p>
                                <i class="fa-regular fa-thumbs-up" style="color: #9397AD;"></i>
                                <p class="rating text-s">@course.LikesPercent (@course.Likes)</p>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>

@code {
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    public CourseCardModel courseCardModel = new();
    public SaveCourseModel courseIdModel = new();
    public List<CourseCardModel> courseList { get; set; } = [];
    public ApplicationUser User = new();
    public List<string> SavedCourses = [];

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaims = authenticationState.User;

        User = await UserManager.GetUserAsync(userClaims);

        if (HttpContextAccessor.HttpContext!.Request.Cookies.TryGetValue("AccessToken", out var token))
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        else
        {
            await CookieService.GetToken(User.Id, User.Email);
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }

        var query = new GraphQLQuery { Query = "query { getCourses { id isBestSeller imageUri title authors {name} prices {price currency discount} duration likesPercent likes } }" };
        var response = await Http.PostAsJsonAsync("https://courseprovider-silicon-hl.azurewebsites.net/api/graphql?code=7HxNcs9s7LTbK8xSkGVLN9W6v5XDgOJCcj_D31kwYSgGAzFu9L-qMg%3D%3D", query);

        if (response.IsSuccessStatusCode)
        {
            var jsonString = await response.Content.ReadAsStringAsync();
            var result = JsonConvert.DeserializeObject<RootObject>(jsonString);

            foreach (var course in result!.Data.GetCourses)
            {
                courseList.Add(course);
            }
        }

        var userCourses =  Context.UserCourses.Where(x => x.UserId == User.Id).ToList();

        foreach (var course in userCourses)
        {
            SavedCourses.Add(course.CourseId);
        }
    }

    private string ServiceBusConnectionString = "Endpoint=sb://sb-silicon-win23.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=7je223OiCW11ESQNMmAQ33wCVCN0FPEl4+ASbGEjRPA=";

    public async Task Send(string email, string title)
    {
        try
        {
            var newEmail = GenerateEmail(email, title);
            var message = new Message(Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(newEmail)));

            var queueClient = new QueueClient(ServiceBusConnectionString, "email_request");
            await queueClient.SendAsync(message);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public EmailRequest GenerateEmail(string email, string title)
    {
        if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(title))
        {
            var emailRequest = new EmailRequest()
                {
                    To = email,
                    Subject = "Course Saved",
                    HtmlBody = $@"
        <html lang='en'>
            <head>
                <meta charset='UTF-8'>
                <meta name='viewport' content='width=device-width, initial-scale=1.0'>
                <title>Verification Code</title>
            </head>
            <body>
                <div style='color: #191919; max-width: 500px'>
                    <h1 style='font-weight: 600; font-size: 48px'>Congratulations to your purchase</h1>
                    <p style='font-weight: 600; font-size:32px;'>Have fun with {title}</p>
                </div>
            </body>
            </html>
        ",
                    PlainText = $"Have fun with {title}",
                };
            return emailRequest;
        }

        return new EmailRequest();
    }

    private async Task SaveCourseToUser(string courseId, string title)
    {
        if (User != null)
        {
            var result = Context.UserCourses.FirstOrDefault(x => x.UserId == User.Id && x.CourseId == courseId);

            if (result == null)
            {
                var userCourse = new UserCourses
                    {
                        UserId = User.Id,
                        CourseId = courseId
                    };

                Context.Add(userCourse);
                await Context.SaveChangesAsync();
                SavedCourses.Add(courseId);
                await Send(User.Email!, title);
            }
            else
            {
                Context.Remove(result);
                await Context.SaveChangesAsync();
                SavedCourses.Remove(courseId);
            }
        }
    }

    private bool CheckIfCourseIsSaved(string courseId)
    {
        var userCourse = new UserCourses
            {
                UserId = User.Id,
                CourseId = courseId
            };
        var result = Context.UserCourses.FirstOrDefault(x => x.UserId == User.Id && x.CourseId == courseId);

        if (result == null)
        {
            return false;
        }

        return true;
    }

    public class GraphQLQuery
    {
        public string Query { get; set; } = null!;
    }

    public class AuthorModel
    {
        public string? Name { get; set; }
    }

    public class PriceModel
    {
        public decimal Price { get; set; }
        public string? Currency { get; set; }
        public decimal Discount { get; set; }
    }

    public class CourseCardModel
    {
        public string Id { get; set; } = null!;
        public string ImageUri { get; set; } = null!;
        public bool IsBestSeller { get; set; }
        public string? Title { get; set; }
        public List<AuthorModel>? Authors { get; set; }
        public PriceModel? Prices { get; set; }
        public string? Duration { get; set; }
        public string? LikesPercent { get; set; }
        public string? Likes { get; set; }
    }

    public class GetCoursesResponse
    {
        public List<CourseCardModel> GetCourses { get; set; } = null!;
    }

    public class RootObject
    {
        public GetCoursesResponse Data { get; set; } = null!;
    }

    public class SaveCourseModel
    {
        public String CourseId { get; set; } = null!;
    }

    public class EmailRequest
    {
        public string To { get; set; } = null!;
        public string Subject { get; set; } = null!;
        public string HtmlBody { get; set; } = null!;
        public string PlainText { get; set; } = null!;
    }
}
