@using BlazerWebApp.Models
@rendermode InteractiveAuto

<div class="course-includes">
    <h4 class="header4">This course includes</h4>
    <p class="m-text"><i class="fa-light fa-tv-retro"></i> @ContentModel.Content.Includes[0]</p>
    <p class="m-text"><i class="fa-light fa-book"></i> @ContentModel.Content.Includes[1]</p>
    <p class="m-text"><i class="fa-sharp fa-regular fa-download"></i> @ContentModel.Content.Includes[2]</p>
    <p class="m-text"><i class="fa-solid fa-infinity"></i> @ContentModel.Content.Includes[3]</p>
    <p class="m-text"><i class="fa-regular fa-trophy"></i> @ContentModel.Content.Includes[4]</p>

    <div class="course-price">
        @if (ContentModel.Prices.Discount == 0)
        {
            <p class="header2">@ContentModel.Prices.Currency@ContentModel.Prices.Price</p>
        }
        else
        {
            <p class="header2">@ContentModel.Prices.Currency@ContentModel.Prices.Discount</p>
            <p class="xl-text">@ContentModel.Prices.Currency@ContentModel.Prices.Price</p>
        }
    </div>
    <form method="post">
        <input type="hidden" name="courseId" value="" />
        <button asp-action="SaveCourse" asp-controller="Courses" class="btn-theme">Join course</button>
    </form>
</div>

@code {
    [Parameter]
    public CourseCardModel ContentModel { get; set; } = new();
}
