@using BlazerWebApp.Models
<div class="upper-section">
    <div class="course-categories">
        @if (CourseCardModel.IsBestSeller)
        {
            <p class="green-category">Best Seller</p>
        }
    </div>
    <h1 class="display6">@CourseCardModel.Title</h1>
    <p class="l-text">@CourseCardModel.Subtitle</p>
    <div class="rating-and-reviews">
        <div class="reviews">

            @for (int i = 0; i < CourseCardModel.StarRating; i++)
            {
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            }

            @{
                int remainingStars = 5 - CourseCardModel.StarRating;

                @for (int i = 0; i < remainingStars; i++)
                {
                    <i class="fa-regular fa-star"></i>
                }
            }

            <p class="m-text">(@CourseCardModel.Reviews reviews)</p>
        </div>
        <div class="likes">
            <i class="fa-regular fa-thumbs-up"></i>
            <p class="m-text">@CourseCardModel.Likes likes</p>
        </div>
        <div class="hours">
            <i class="fa-regular fa-clock"></i>
            <p class="m-text">@CourseCardModel.Duration hours</p>
        </div>
    </div>
</div>
<div class="created-by">
    <img src="images/author-img.svg" alt="Image of course author">
    <div class="creator-text">
        <p class="m-text">Created by</p>
        <p class="m-text author-name">@CourseCardModel.Authors[0].Name</p>
    </div>
</div>
@code {
    [Parameter]
    public CourseCardModel CourseCardModel { get; set; } = new();

    public string Author { get; set; } = null!;
}
